<div class="stopBolha">
  <div class="bolha">
    <img class="robotzinho" src="/assets/robotzinho.svg" alt="robozinho acenando">
    <img class="forma-robotzinho" src="/assets/forma-robotzinho.svg" alt="bolha branca destacando o robozinho">
    <img class="myrobot-loguinho" src="/assets/loguinho.svg" alt="robozinho acenando">
    <p class="bemvindo">Bem-vindo, Aluno...</p>
    <p class="bemvindo bemvindo2">Faça seu <span style="font-weight: 800;color: blueviolet;">LOGIN</span> aqui!</p>
  </div>
    <img class="myrobot-logo" src="/assets/myrobot-logo.svg" alt="logo">
    
    <!--<input class="loginbox" type="text">
    <input class="senhabox" type="password">-->
</div>